body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#game {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.board {
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    margin: 5% 5%;
}

.game-over {
    opacity: 0.5;
    background-color: lightgray;
}

.tie {
   background-color: lightgray;
}

.highlighted {
    background-color: greenyellow;
}

.marked-x {
    background-color: lightcoral;
}

.marked-o {
    background-color: lightblue;
}

.cell {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    float: left;
    width: calc(100% / 3);
    height: calc(100% / 3);
    margin: 0;
    padding: 0;
}
.cell.top {
    border-bottom: 2px solid black;
}
.cell.bottom {
    border-top: 2px solid black
}
.cell.left {
    border-right: 2px solid black;
}
.cell.right {
    border-left: 2px solid black;
}